@media (max-width: 767px) {

    /* HEADER */
    .header-ul,
    .address-container {
        display: none;
    }

    .header-title {     
        width: 100%;
    }

    .first-part {
        width: 100%;        
    }

    .hamburger-menu-button {
        display: block;
    }

    /* SECOND PART */
   
    .second-list-ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
      
    }

    .second-title-text-div {
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* THIRD PART */
    .third-part-container {
        width: 100%;
        padding: 0;
        margin: 0;      
    }

    .third-list-ul {      
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* FOURTH PART */
    .fourth-part-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .fourth-list-ul {
        width: 100%;
        justify-content: center;
    }

    .fourth-list {
        width: 100%;
    }


    /* FOOTER */
    .footer-container {
        padding: 96px 16px;
        justify-content: center;
    }

    .footer-logo-text-social-media-container {
        flex-direction: column;
    }

    .footer-logo-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-logo {
        margin-right: 0;
    }

    .footer-social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mail-form {
        flex-direction: column;
        align-items: center;
    }
}