@media (max-width: 767px) {

    /* HEADER */
    .header-ul,
    .address-container {
        display: none;
    }

    .header-title {     
        width: 100%;
    }

    .first-part {
        width: 100%;        
    }


    /* SECOND PART */   
    .second-list-ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
      
    }

    .second-title-text-div {
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* THIRD PART */
    .third-part-container {
        width: 100%;
        padding: 0;
        margin: 0;      
    }

    .third-list-ul {      
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* FOURTH PART */
    .fourth-part-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .fourth-list-ul {
        width: 100%;
        justify-content: center;
    }

    .fourth-list {
        width: 100%;
    }


    /* FOOTER */
    .footer-container {
        padding: 96px 16px;
        justify-content: center;
    }

    .footer-logo-text-social-media-container {
        flex-direction: column;
    }

    .footer-logo-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-logo {
        margin-right: 0;
    }

    .footer-social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mail-form {
        flex-direction: column;
        align-items: center;
    }

    /* MODAL WINDOW */
    .modal-window {
        width: 288px;
        height: 623px;        
    }

    /* HAMBURGER MENU */
    .hamburger-menu-button {
        display: block;
    }

    .hamburger-menu-icon-exit:hover,
    .hamburger-menu-icon-exit:focus {
        background-color: #404bbf;
        border: none;
    }

    .hamburger-menu-nav-li {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
    }

    .hamburger-menu-link {
        color: #2e2f42;
    }

    .hamburger-menu-address-li {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        font-style: normal;
    }

    .hamburger-menu-address-link {
        color: #434455;
    }
    
    .hamburger-menu-social-media-button:hover,
    .hamburger-menu-social-media-button:focus {
        background-color: #31d0aa;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    

   

    


}