@media (max-width: 1158px) {

    .navbar-container {
        width: 100%;
    }

    .address-list-ul {
        flex-direction: column;
        gap: 10px;
    }

    .first-part-container {
        width: 100%;
    }

    
    /* SECOND PART */
    .second-part-svg-container {
        display: none;
    }

    .second-part {
        padding: 96px 16px;
    }

    .second-part-container {
        width: 100%;
        padding: 0;     
    }

    .second-list-ul {
        max-width: 736px;
        flex-wrap: wrap;
        width: 100%;        
    }

    .second-title-text-div {
        width: 356px;
    }

    
    /* THIRD PART */

    .third-part {
        padding: 0;
    }
    .third-part-container {
        width: 100%;
        padding: 96px 108px;
    }

    .third-list-ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-media-button-ul {
        
    }


    /* FOURTH PART */

    .fourth-part {
        padding: 96px 12px; 
    }

    .fourth-part-container {
        width: 100%;
        padding: 0;
    }

    .fourth-list-ul {
        width: 100%;
        justify-content: center;
    }

    /* FOOTER */    
    .footer {
        padding: 0;
    }

    .footer-container {
        padding: 96px 108px;
        width: 100%;
        flex-wrap: wrap;        
    }

    .footer-logo-text-social-media-container {
        display: flex;
        margin-bottom: 72px;
        gap: 24px;
    }

    .footer-logo-text-container {
        margin-right: 0;
    }

    .footer-form-container {
        padding-left: 0;
    }

 
        
}